<div
  #modalRef
  class="modal fade"
  tabindex="-1"
  role="dialog"
  [attr.aria-labelledby]="title() ? 'modal-title' : null"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
       [class.modal-sm]="size() === 'sm'"
       [class.modal-lg]="size() === 'lg'"
       [class.modal-xl]="size() === 'xl'">
    <div class="modal-content app-modal__content">

      <!-- Header -->
      <div *ngIf="!hideHeader()" class="modal-header app-modal__header">
        <div class="app-modal__header-text">
          <h5 *ngIf="title()" id="modal-title" class="modal-title font-display">
            {{ title() }}
          </h5>
          <p *ngIf="subtitle()" class="app-modal__subtitle mb-0">
            {{ subtitle() }}
          </p>
        </div>

        <button
          *ngIf="!hideClose()"
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="close()"></button>

        <ng-content select="[slot='header']" />
      </div>

      <!-- Body -->
      <div class="modal-body app-modal__body">
        <ng-content />
      </div>

      <!-- Footer -->
      <div class="modal-footer app-modal__footer">
        <ng-content select="[slot='footer']" />
      </div>

    </div>
  </div>
</div>
